* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #ED7D31;
  --darkGray: #4F4A45;
  --lightGray: #6C5F5B;
  --light: #F6F1EE;
  color: var(--light);
  background-color: var(--darkGray);
}

.Heading {
  font-size: clamp(2rem, 3vw, 5rem);
}

.SubHeading {
  font-size: clamp(1.3rem, 2vw, 3rem);
}

.Title {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.paragraph {
  font-size: clamp(1rem, 1vw, 2rem);
}
